﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failed</title>
</head>
<body>
    <div class="row justify-content-center">
        <h1>You failed!</h1>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary" href="/home/continue">Try again</a>
    </div>
</body>
</html>
