﻿@model Animal
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor accessor
@{
    ViewData["Title"] = "Home Page";
    var Score = accessor.HttpContext.Session.GetInt32("Score");
}

<div class="container">
    <div class="row justify-content-center" id="buttons">
        <a class="btn btn-primary" name="dog" value="Dog" onclick="checkAnswer('dog')"
           asp-controller="home" asp-action="checkAnswer" asp-route-animalType="dog" asp-route-id="@Score">Dog</a>
        <p class="p-text">   Or   </p>
        <a class="btn btn-primary" name="cat" value="Cat" onclick="checkAnswer('cat')"
           asp-controller="home" asp-action="checkAnswer" asp-route-animalType="cat" asp-route-id="@Score">Cat</a>

    </div>

    <div class="row justify-content-center">
        <p class="p-text" id="count">Point : @Score/11</p>
    </div>

    <img class="row mx-auto d-block" id="image" src="@Model.Url" alt="Dog or Cat?" />
</div>