﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Win</title>
</head>
<body>
    <div class="row justify-content-center">
        <h1>You won the game!</h1>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary" href="/home">Start a new game</a>
    </div>
</body>
</html>
