﻿@model Supervisor
@{
    ViewData["Title"] = "Create a new Supervisor";
    Layout = "~/Views/Shared/newLayout.cshtml";
}

    <form asp-controller="home" asp-action="create" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" placeholder="Name" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Phone" class="form-control" placeholder="Name" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button class="btn btn-primary m-1" type="submit" name="formSubmit" value="">Create</button>
            <a class="btn btn-primary m-1" asp-controller="home" asp-action="displaysup">Back</a>
        </div>
    </form>

