﻿@model List<Supervisor>
@{
    ViewData["Title"] = "Display Supervisors";
    Layout = "~/Views/Shared/newLayout.cshtml";
}

    <div class="row justify-content-sm-center">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-sm-3 m-2">
                <label class="list-group m-1 p-1">Supervisor @(i+1)</label>
                <ul class="list-group">
                    <li class="list-group-item-dark m-1 p-1">Name  : @Model[i].Name</li>
                    <li class="list-group-item-dark m-1 p-1">Email : @Model[i].Email</li>
                    <li class="list-group-item-dark m-1 p-1">Phone : @Model[i].Phone</li>
                </ul>
            </div>
        }

    </div>
    <div class="row justify-content-center m-2">
        <a class="btn btn-primary" asp-controller="home" asp-action="createsup">Create new supervisor</a>
    </div>

