﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-1">
    <h1>Noroff Task 23 - Home Page</h1>    
    <h2>Current time : <span class="bg-secondary">@ViewBag.CurrentTime</span></h2>
    <br />
    <div class="row justify-content-sm-center">
        <a asp-controller="home" asp-action="displaysup" class="btn btn-primary m-1">Display Supervisors</a>
    </div>
</div>
