.formDiv{
  position: relative;
  border: black;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
  width: min-content;
  margin: 15px;
  padding: 20px;
}

.personInformation{
  font-weight: bolder;
  display: block;
  font-style: italic;
  position: relative;
  margin:20px;
}

.formDiv p{
  font-size: 17px;
  color: silver;
  font-weight: bold;
  text-align: center;
}

.formDiv p:hover{
  color: gold;
}

#submitPerson:hover{
  color: white;
}
